html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0 auto;
}
.image, .html{
  background-image:url('../images/bi.png');
  opacity: 0.80;

}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

span {
    font-size: 65%;
}

span:hover{
  color: black;
}

.img {
    height: 120px;
    width: 100pt;
    margin: 10pt;
}

img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#marquee-wrapper{
  height:70px;
  position: fixed;
  left:0;
  right:0;
  width:100%;
  bottom: 20px;
  background-color:transparent;
  z-index:100;
}

#marquee{
  position:absolute;
  padding:0px;
  white-space : nowrap;
  left:0%;
  bottom: 20px;
  width:100%;
  margin-left:-50%; 
  text-align:center;
  font-size:0.01px;
}

#marquee li{
  display:inline-block;
  margin:0;
  width:25%;
  font-size:16px;
}

#marquee li img:hover{
  cursor:pointer;
}


.autres_promotions {
    margin-top: 20pt;
}
