body {
	opacity: 0.80;
	font-family: 'Raleway', cursive;
	font-weight: 100;
	margin: 0 auto;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.80;
}

span {
	font-size: 65%;
}

span:hover{
	color: black;
}

.col {
	background-color: white;
	height: 200pt; 
	border-radius: 8pt; 
	font-size: 150%; 
	margin: 10pt; 
	height: auto; 
	padding: 10pt;
}

.text-center {
	font-size: 500%;
}

.container {
	margin-top: 40pt;
}

h3 {
	text-decoration: underline;
}

h2 {
	text-shadow: 1px 2px 3px white; 
}